$box-shadow: 0px 0px 12px 0px rgba(213,197,231,0.5);
$hover-color: #EB9630;
$color: #1E89E4;
$light-color: #EAF6FF;
$normal-color: #333;
$box-radius: 4px;
$normal-font-size: 16px;
$second-min-font-size: 14px;
$min-font-size: 12px;
$error-color: #FF3939;


